---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Janelle Uy">
    <section
        class="p-4 md:p-16 lg:p-28 flex flex-col md:flex-row bg-black text-light-gray"
    >
        <div
            class="w-full md:w-2/5 bg-white/10 p-8 flex flex-col gap-8 rounded-xl"
        >
            <h1 class="text-4xl flex justify-center">
                <span
                    class="flex font-semibold flex-col gap-3 inline-block text-transparent bg-gradient-to-r from-magenta to-fuchsia bg-clip-text"
                    >About Me

                    <hr
                        style={{
                            height: "1px",
                        }}
                        class="bg-gradient-to-r from-magenta to-fuchsia border-0"
                    />
                </span>
            </h1>
            <div class="w-full flex justify-center">
                <ul class="flex flex-col list-disc list-inside text-white">
                    <li><a href="#intro"> Intro </a></li>
                    <li>
                        <a href="#hobbiesNinterests"> Hobbies & Interests </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-full flex-grow flex flex-col py-8 md:px-16">
            <div id="intro" class="flex flex-col gap-6 py-6">
                <h2 class="text-3xl">
                    <span class="inline-block text-white"> Intro </span>
                </h2>
                <p>
                    Hi! I am Janelle, a graduate of Mapua Malayan Colleges
                    Mindanao. I am an aspiring full-stack developer interested
                    in programming, robotics, and designing. I graduated Summa
                    Cum Laude, and at the top of all Computer Science students
                    last September 27, 2024. This really came as a surprise
                    since there were a lot of smart students in my class, and I
                    never expected this result; it made me very happy!
                </p>
            </div>
            <div id="hobbiesNinterests" class="flex flex-col gap-6 py-6">
                <h2 class="text-3xl">
                    <span class="inline-block text-white">
                        Hobbies & Interests
                    </span>
                </h2>
                <p class="">
                    My hobbies include sketching, painting, playing video games,
                    playing the piano, and reading! I like sketching figures,
                    and making still-life art with watercolor and gouache. Some
                    of my favorite video games include Ori and the Will of the
                    Wisps (I cried my heart out!), Tales of Berseria (this
                    too!), and Witcher 3 (I still haven’t finished the game
                    though after so long)!! I was trained as a classical pianist
                    since 2009 until 2020 by two beloved teachers. I am now out
                    of practice, but I am trying to make time to regain my
                    skills! Some of my favorite pieces are Fantasie Impromptu (I
                    haven’t learned it yet), and Hungarian Rhapsody (this was
                    supposed to be my recital piece last 2020 but pandemic
                    struck!). I love reading good novels basically from any
                    genre as long as I find it to have good pacing, decent plot,
                    a good surprise element (this is optional, as long as the
                    entire book is good!). I also love reading webtoons and
                    manhua/manhwa with good plots and drama!
                </p>
            </div>
        </div>
    </section>
</Layout>

<style></style>
