---
import Layout from "../layouts/Layout.astro";
import { ArrowRightIcon } from "@heroicons/react/20/solid";
---

<Layout title="Janelle Uy">
    <section
        class="bg-dark-black justify-center flex flex-col justify-center gap-16 text-light-gray px-4"
    >
        <div class="inline-flex justify-center">
            <h1 class="text-center text-3xl font-bold flex flex-col">
                Hi I'm -
                <span class="text-magenta text-6xl sm:text-8xl">
                    Janelle Uy.
                </span>

                <hr class="border-4 border-light-gray" />
                <p>A software developer.</p>
            </h1>
        </div>

        <p class="text-center md:text-xl sm:w-3/4 md:w-1/2 self-center">
            If you need websites, applications or scripts to be developed or
            something you need help with, reach out to me!
        </p>

        <div class="inline-flex self-center font-bold">
            <a href="#contact-me" class="px-5 py-1"> Contact me </a>

            <button
                class="inline-flex items-center gap-3 px-5 py-1 justify-center"
            >
                Browse projects
                <span aria-hidden="true">
                    <ArrowRightIcon className="w-7" />
                </span>
            </button>
        </div>

        <div class="flex-row inline-flex gap-3 justify-center">
            <a href="https://github.com/JCU25">
                <img
                    class="w-8 h-8"
                    src="/assets/github-vector.svg"
                    alt="GitHub"
                />
            </a>

            <a href="https://www.linkedin.com/in/janelle-cassandra-uy"
                ><img
                    class="w-8 h-8"
                    src="/assets/linkedin-vector.svg"
                    alt=""
                /></a
            >

            <a class="flex" href="mailto:janellecc.uy@gmail.com"
                ><img
                    class="self-center w-8 h-8"
                    src="/assets/mail-icon-vector.svg"
                    alt=""
                /></a
            >
        </div>
    </section>

    <style>
        section {
            min-height: 90vh;
        }
    </style>
</Layout>
