---
const date = new Date().getFullYear();
const links = {
    "/assets/github-vector.svg": "https://www.github.com/jcu25",
    "/assets/linkedin-vector.svg":
        "https://www.linkedin.com/in/janelle-cassandra-uy",
    "/assets/mail-icon-vector.svg": "mailto:janellecc.uy@gmail.com",
};
---

<footer
    class="flex flex-col w-full py-4 px-4 pt-10 md:pt-16 md:px-16 lg:px-28 bg-gradient-to-r from-magenta to-navy-blue text-white gap-10"
>
    <div class="flex flex-col gap-14">
        <h1 class="flex flex-row text-2xl gap-3 font-bold lg:justify-center">
            <img src="/assets/JU.svg" alt="Janelle Uy Logo" class="h-10" />
            <span class="self-center">Janelle Uy</span>
        </h1>
        <ul
            class="flex flex-col gap-4 lg:flex-row md:justify-between pb-6 border-b"
        >
            {
                Object.entries(links).map(([icon, link]) => {
                    return (
                        <li>
                            <a
                                class="flex flex-row gap-3 align-center"
                                href={link}
                            >
                                <img src={icon} alt="link" class="w-7 h-7" />
                                <p class="self-center font-semibold">
                                    {link.includes("https://www.")
                                        ? link.replace("https://www.", "")
                                        : link.replace("mailto:", "")}
                                </p>
                            </a>
                        </li>
                    );
                })
            }
        </ul>

        <div class="flex flex-col w-full lg:flex-row lg:px-28 gap-16">
            <ul class="w-full lg:w-1/3 flex flex-col align-center gap-3">
                <h2 class="text-lg font-bold">Pages</h2>
                <li><a href="/">Home</a></li>
                <li><a href="/">Coding</a></li>
                <li><a href="/">Designs</a></li>
                <li><a href="/">About Me</a></li>
            </ul>
            <ul class="lg:w-1/3 flex flex-col gap-3">
                <h2 class="text-lg font-bold">Services</h2>
                <li><a href="/">Web Development</a></li>
                <li><a href="/">UI Design</a></li>
                <li><a href="/">Database Design</a></li>
            </ul>

            <div class='lg:w-1/3 flex flex-col justify-center"'>
                <p>
                    Feel free to reach out for any queries. I’ll try my best to
                    help you!
                </p>
                <button class="bg-light-black px-6 py-2 rounded-md mt-10">
                    Send me a message!
                </button>
            </div>
        </div>
    </div>

    <p class="self-center text-sm">
        Copyright &copy
        {date == 2024 ? <span> 2024 </span> : <span>2024-{date}</span>}
        | All rights reserved.
    </p>
</footer>

<style></style>
