---
import { Bars3Icon } from "@heroicons/react/20/solid";
import MobileNav from "./MobileNav";
const links = {
    Home: "/",
    Coding: "/#coding",
    Designs: "/#design",
    "BY THE WAY!!": "/about-me",
};
---

<nav
    class="h-16 text-white flex flex-row w-full bg-gradient-to-r from-dark-magenta to-navy-blue px-4 md:px:16 lg:px-28 justify-between text-sm font-semibold"
>
    <!-- <h6>JANELLE UY</h6> -->
    <a href="/" class="h-full flex">
        <img
            src="/assets/JU.svg"
            alt="Janelle Uy logo"
            class="h-3/5 self-center"
        />
    </a>

    <!-- <Bars3Icon className="h-3/5 self-center md:hidden" /> -->
    <div class="flex md:hidden">
        <MobileNav client:load />
    </div>

    <ul class="hidden md:flex flex-row h-full gap-10">
        {
            Object.entries(links).map(([page, path]) => {
                return (
                    <li id={page} class="h-full self-center flex">
                        <a class="flex h-full" href={path}>
                            <span class="self-center">{page}</span>
                        </a>
                    </li>
                );
            })
        }
    </ul>
</nav>

<script>
    const home: HTMLElement | null = document.getElementById("Home");
    const projects: HTMLElement | null = document.getElementById("projets");
    const about_me: HTMLElement | null = document.getElementById("about-me");

    // text decoration when "Home" is selected
    if (window.location.pathname == "/") {
        if (home) {
            home.style.borderBottom = "2px solid white";
        }
    }

    // text decoration when "Projects" is selected
    if (
        window.location.pathname == "/projects" ||
        window.location.pathname == "/projects/"
    ) {
        if (projects) {
            projects.style.textDecoration = "underline";
        }
    }

    // text decoration when "About Me" is selected
    if (
        window.location.pathname == "/about-me" ||
        window.location.pathname == "/about-me/"
    ) {
        if (about_me) {
            about_me.style.textDecoration = "underline";
        }
    }
</script>

<style>
    /* nav {
        height: 10vw;
    } */
</style>
